.left-nav
  %a{href: root_path()}  Home
  %a{href: petitions_path()} Petitions
.right-nav
  :if loggedIn()
    hello #{current_user.name}
    %a.logout{href: "/logout", data-remote: true, data-method: 'post', data-type:'json'}
      Logout
  :if !loggedIn()
    %a.login{href: "#"} Login

= render_component('login-form')
