%form{action: '/users', method: 'post'}
  %label
    %span.label Name
    %input{type: 'text', name: 'user[name]'}
  %label
    %span.label Email
    %input{type: 'text', name: 'user[email]'}
  %label
    %span.label Password
    %input{type: 'password', name: 'user[password]'}
  %label
    %span.label Password Confirmation
    %input{type: 'password', name: 'user[password_confirmation]'}
  %label
    %input{type: 'submit', value: 'Signup'}
