.page-header
  margin-bottom: 1em
  padding: 1em
  background: grey
  +clearfix
  .left-nav, .right-nav
    > *
      display: block
      float: left
      margin-right: 1em
      text-decoration: none

  .right-nav
    float: right

