!!!
%html
  %head
    %title= page_title
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"
  %body
    :javascript
      ActivePage.state.set(#{page_state.to_json});
      ActivePage.render();
