!!!
%html
  %head
    %title ClientSideViewsExample
    = javascript_include_tag "application"
    :javascript
      console.log('application.js loaded');
      $(function(){
        console.log('document ready');
      })
    = stylesheet_link_tag "application", :media => "all"
  %body{style:'display:none; background:red'}
    :javascript
      Page.render(#{@render_options.to_json});
